@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root{
    --darkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

div.attribution { font-size: 11px; text-align: center;}
div.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Cream);
}

.card {
    background-color: var(--white);
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
}

.image {
    min-height: 14rem;
    background-position: center;
    background-size: cover;
}

.text {
    margin: 22px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text > :nth-child(1) {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5rem;
    font-size: 0.9rem;
    color: var(--darkGrayishBlue);
}

.text h1{
    color: var(--veryDarkBlue);
    font-family: 'Fraunces', serif;
}

.text p:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: var(--darkGrayishBlue);
    line-height: 1.5;
}

.prices {
    display: flex;
    align-items: center;
    gap: 22px;
}

.prices p:nth-child(1){
    color: var(--darkCyan);
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    letter-spacing: normal;
}

.prices p:nth-child(2){
    color: var(--darkGrayishBlue);
}

button {
    color: var(--white);
    font-weight: 700;
    display: flex;
    background-color: var(--darkCyan);
    border: none;
    justify-content: center;
    padding: 1.2em 1em;
    gap: 0.75em;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media (min-width: 600px) {
    body {
    }
}